@import "global/global-variables";

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  width: calc(100% - 6rem);
  max-width: 1024px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #004466;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

li {
  font-size: 1.25rem;
  line-height: 1.5;
}

.topbar {
  margin-bottom: 2rem;
  border-bottom: 1px dotted #cacaca;
  padding: 2rem 0;

  a {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.bottombar {
  margin-top: 2rem;
  border-top: 1px dotted #cacaca;
  padding: 2rem 0;
}

header {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #004433;

  h1 {
    line-height: 1.1;
    color: #004433;
    margin-bottom: 0.5rem;
  }
}

.home {
  header {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .tag {
    margin-bottom: 4rem;
  }

  .all-content-links ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;

    li {
      margin: 0 0 0.5rem 0;
    }
  }
}

a {
  color: #214F79;
  border-bottom: 4px solid #005F66;
  text-decoration: none;
  transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out, background-color 0.25s ease-in-out;

  &:visted {
    color: #005F66;
  }

  &:hover {
    color: #fff;
    background-color: #005F66;
    border-bottom: 4px solid #00CEE0;
  }

  &:active {
    color: #fff;
    outline: 2px dashed #005F66;
  }
}

.post {
  max-width: 750px;
}

.home__recent {
  @media screen and (min-width: 700px) {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 200px 1fr;

    .recent-posts-intro {
      padding: 1rem;
      background-color: #004466;

      h2 {
        margin-top: 1rem;
      }
      h2, p {
        color: #fff;
      }
    }
  }
}

.recent-posts-intro {
  margin-bottom: 3rem;

  h2 {
    margin: 2rem 0;
  }
}

.recent-content.post {
  margin: 6rem 0;

  &:first-child {
    margin-top: 0;
  }

  border-bottom: 1px solid #214F79;
  padding-bottom: 3rem;

  header {
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.til,
.linkOfNote {
  header {
    h1 {
      margin-top: 0;
    }

    p:first-child {
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
