@import "global/global-variables";

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  width: calc(100% - 6rem);
  max-width: 1024px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

.topbar {
  margin-bottom: 2rem;
  border-bottom: 1px dotted #cacaca;
  padding: 2rem 0;

  a {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.bottombar {
  margin-top: 2rem;
  border-top: 1px dotted #cacaca;
  padding: 2rem 0;
}

header {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #004433;

  h1 {
    color: #004433;
    margin-bottom: 0;
  }
}

.home {
  header {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .tag {
    margin-bottom: 4rem;
  }

  ul li {
    margin: 0 0 0.375rem 0;
  }
}


a {
  color: #214F79;
  border-bottom: 4px solid #005F66;
  text-decoration: none;
  transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out, background-color 0.25s ease-in-out;

  &:visted {
    color: #005F66;
  }

  &:hover {
    color: #fff;
    background-color: #005F66;
    border-bottom: 4px solid #00CEE0;
  }

  &:active {
    color: #fff;
    outline: 2px dashed #005F66;
  }
}
