<!doctype html>
<html class="no-js" lang="">
<head>
    {{> head }}
</head>
<body class="linkOfNote">

{{> topbar }}

<header>
    <p>Link of Note</p>
    <h1>{{ title }}</h1>
    <p class="italicDate"><time datetime="{{ page.date }}">{{ myIshyDate page.date }}</time></p>
</header>

<div class="post">
    {{{ content }}}
</div>

{{> taglist }}

{{> bottombar }}

<script src="/js/app.js" type="module"></script>

</body>
</html>
