<!doctype html>
<html class="no-js" lang="">
<head>
    {{> head }}
</head>

<body class="blogpostBody">

{{> topbar }}

<article class="blogpost">
    <header class="postHeader">
        {{#each tags}}
            {{#if (checkTil this)}}
                <p>Today I Learned</p>
            {{/if }}

            {{#if (checkLink this)}}
                <p>Link of Note</p>
            {{/if }}
        {{/each}}

        <h1>{{ title }}
            {{#each tags}}
                {{#if (checkDraft this)}}
                    <span class="h1-draft">(Draft Post)</span>
                {{/if }}
            {{/each}}
        </h1>

        <p class="italicDate">
            <time datetime="{{ page.date }}">{{ myIshyDate page.date }}</time>
        </p>
    </header>

    <div class="post">
        {{{ content }}}
    </div>

    {{> taglist }}
</article>

{{> bottombar }}

<script src="./js/app.js" type="module"></script>

</body>
</html>
