<!doctype html>
<html class="no-js" lang="">
<head>
    {{> head }}
</head>

<body class="blogpostBody">

{{> topbar }}

<article class="blogpost">
    <header >
        <h1>{{ title }}
            {{#each tags}}
                {{#if (checkDraft this)}}
                    <span class="h1-draft">(Draft Post)</span>
                {{/if }}
            {{/each}}
        </h1>
    </header>

    <div class="post">
        {{{ content }}}
    </div>
</article>

{{> bottombar }}

<script src="./js/app.js" type="module"></script>

</body>
</html>
