---
title: "...about the media-query &quot;orientation&quot; feature"
date: 2016-03-08T12:22:33-0500
tags:
  - media-queries
  - responsive-design
---

<p>I'm doing a lot of moving-in-multiple-directions-at-once this year, trying to expand and push against my boundaries, while also getting back to fundamentals and seeing what details I've lost in the shuffle along the way. Kind of like <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#orientation">the wealth of stuff that can be accomnplished with media queries</a>.</p>

<p>I've had (somewhat-)strong feels for a while about the whole "breakpoints" thing and how I suspect they're typically used; I suspect looking further into media queries features will do little to dampen those feels.</p>
