---
title: "...a thing about NodeLists"
date: 2016-07-28T09:14:15-0400
tags:
  - today-i-learned
  - javascript
---

<p>Just because a .forEach call on a NodeList happens to work in Chrome, <a href="https://developer.mozilla.org/en-US/docs/Web/API/NodeList">doesn't mean it's going to work anywhere else</a>.</p>