---
title: "...about skip-worktree in git"
date: 2016-10-28T09:58:02-0400
tags:
  - today-i-learned
  - git
---

<p>Tucked away at the end of <a href="http://www.talkingdrupal.com/122">Talking Drupal episode #122</a> was a mention of skip-worktree, a way to make git ignore changes in a file in a repo (that isn't in the gitignore file). One of those where's-this-been-my-whole-life things. <a href="http://blog.stephan-partzsch.de/how-to-ignore-changes-in-tracked-files-with-git/">Here's a good post about how it works</a>.</p>