---
title: "...about requestAnimationFrame"
date: 2016-11-04T11:06:31-0400
tags:
  - today-i-learned
  - web-animation
  - javascript
---

<p>Well, I mean, I knew <em>about</em> it, but I haven't had an excuse to actually <em>use</em> it, yet. But now I think I do. And <a href="https://www.kirupa.com/html5/animating_with_easing_functions_in_javascript.htm">this post feels like a pretty great way to get off and running with it</a>. (With the focus being on easing functions. Which is cool.)</p>