---
title: "...a bit more about properly using routes and middleware in Express"
date: 2016-09-30T07:49:27-0400
tags:
  - node
  - express
  - javascript
---

<p>I'm waist-deep in Express and Node stuff and I can feel the water climbing. I can't swim. This is a concern.</p>

<p>Long story short, I'm at the "oh <em>no</em>, how did I manage to put <em>all the things</em> into one <em>ungodly</em> file" stage of handling inputs and prepping outputs. I mean, despite even using a bit of <a href="http://underscorejs.org">underscore</a> back there. After a moment or two of Google despair (so many tutorials that seem to assume you want to do nothing more than immediately send the user a "Hello world" response), I found <a href="https://scotch.io/tutorials/keeping-api-routing-clean-using-express-routers">this post by Alex Sears</a>, which, at least right now, feels like an excellent primer on how to do some of the bad things I've done much, much better.</p>
