---
title: "...(again) how easy it is to customize SublimeText"
date: 2016-07-08T10:41:56-0400
tags:
  - drupal
  - sublime-text
---

<p>I've been diving into Drupal module development a bit lately, which means diving back into PHP, which means doing quite a few goofy Drupal arrays, which means a lot of parentheses broken across multiple lines. I noticed I was doing a lot of manual reformatting of the parens because they weren't lining up correctly. Turns out, <a href="http://stackoverflow.com/questions/22865347/smart-indenting-of-brackets-parenthesis-in-sublime-text-2">it's actually really easy to fix that</a>.</p>

<p>One note I'll add is that when copying that macro file to the User folder, you need to update res://Packages/Default/ to res://Packages/User/ as the file location. I wasn't entirely sure how SublimeText referenced the User folder, but that seemed to do the trick. Especially nice with <a href="https://packagecontrol.io/docs/syncing#dropbox-osx">the User folder synced via DropBox</a> (so hopefully I won't have to remember how to do this on my home machines).</p>
