---
title: "...about (maybe still actually) using negative lookbehinds (at least, in SublimeText)"
date: 2016-08-17T12:54:29-0400
tags:
  - today-i-learned
  - regular-expressions
  - whoops
---

<p>In a previous post I mentioned <a href="http://webblogstuffthing.foldednotedesign.com/node/48">not using negative lookbehinds</a> during a regex party when another tactic might work better. Turns out that other tactic might not actually always work, judging my the amount of hair I just yanked out of my head, and oh yeah it also helps when you use the <a href="https://github.com/dmikalova/sublime-cheat-sheets/blob/master/cheat-sheets/Regular%20Expressions.cheatsheet">correct regex expression for the tool you're working with</a>. So like <code>(?&lt;!nbsp)</code> instead of whatever ineffective variant of that I was previously trying to use.</p>

<p>Jokes about the kind of drinks or snacks you bring to a regex party, now more welcome than ever. </p>

<p> </p>