---
title: "...about Undo Selection in SublimeText"
date: 2016-03-11T12:05:37-0500
tags:
  - today-i-learned
  - sublime-text
---

<p>In today's edition of "hey, let me finally Google that for myself," it's possible to <a href="http://superuser.com/questions/565549/opposite-of-ctrld-in-sublime-text-2">get rid of that last selection</a> when going on a Cmd-D feeding frenzy in SublimeText. (Spoiler alert: it's Cmd-U.)</p>