---
title: "...a bit more about regex"
date: 2016-03-10T12:32:39-0500
tags:
  - today-i-learned
  - regular-expressions
  - python
---

<p>I've been crash-coursing Python the last couple weeks; I've played with it in the past, but it feels good to go back through and refresh on the fundamentals, and it's nice to feel like it's a usable tool in my belt for accomplishing...things. Like finding classes in a CSS file that aren't actually used in an HTML file.</p>

<p>RegEx, which is slowly becoming more-decipherable line-noise to me, is pretty critical for this sort of thing. Last night I found <a href="http://codepen.io/jakealbaugh/post/regex-in-sublime-text">this Jake Albaugh blog pos</a>t about using regex in Sublime Text, which I found pretty readable and useful. And that of course lead me back to sites like <a href="http://regexr.com">RegExr.com</a> and <a href="https://regex101.com/#python">RegEx101.com</a> which are indespensibly useful when trying to build up a complex expression.</p>