---
title: "...about nvm"
date: 2016-11-16T16:36:33-0500
tags:
  - node
---

<p>I figured there had to be a better way to get specific versions of node running for local development work, other than creating an entire Docker image for the task. <a href="https://www.sitepoint.com/quick-tip-multiple-versions-node-nvm/">I was correct</a>. </p>
