---
title: "...that, yes, it is possible to export content urls from Drupal 7 via data_views_export"
date: 2017-01-12T11:16:21-0500
tags:
  - today-i-learned
  - drupal
---

<p>It's just, y'know...<a href="https://www.drupal.org/node/1986780"><em>mildly</em> obscure</a>.</p>