---
title: "...about Open Selected Version in SourceTree"
date: 2017-05-16T09:38:23-0400
tags:
  - today-i-learned
  - git
  - sourcetree
---

<p>Sometimes I want to do a side-by-side comparison of a file in a git repo between unique branches. Not a simple see-which-two-lines changed kind of thing—more like trying to find the two lines that didn't change. For some reason I kept tripping up over this one though.</p>

<p>I do most most git stuff via the command line, but find <a href="https://www.sourcetreeapp.com">SourceTree</a> to be invaluable when it comes to visually navigating history. Today I finally realized it will let me, in the history view, right click a file in the changed-files panel when on a branch that is not my current branch, and select Open Selected Version. That popped a copy of the file from that commit open into a separate SublimeText window, which from there I can use <a href="http://www.sublimerge.com">Sublimerge</a> to get a detailed diff—or just keep the separate window open for reference, as I try to figure out what the heck I was thinking, two months ago...</p>