---
title: "...that, yes, it&#039;s possible to make life easier on yourself, more often than not"
date: 2017-04-14T10:10:49-0400
tags:
  - command-line
  - fun-tricks
---

<p>Once upon a time I learned <a href="http://webblogstuffthing.foldednotedesign.com/node/23">a bit about enscript</a> (because sometimes I like to <a href="http://webblogstuffthing.foldednotedesign.com/node/47">print things out</a>) and I learned <a href="http://webblogstuffthing.foldednotedesign.com/node/37">a bit about bash functions</a> and today I finally put two and two together and made myself a little bash function for spitting code files out to pdfs:</p>

<pre>
<code># Make a pdf of a textfile

pdfIt() {
        enscript --line-numbers -p - -f SourceCodePro-Light8 --word-wrap $1 | pstopdf -i -o ./$1.pdf;
        mv ./$1.pdf ~/temp;
}
</code></pre>

<p>This gets dumped into my .aliases.sh file (which is an "oh, duh" technique <a href="https://github.com/una/dotfiles/blob/master/.aliases.sh">I think I stole from Una Kravets</a>) which gets source'd into my .bash_profile file. And then, PDF'ing all the things!</p>

<p>Worth pointing out that you may need to change the font declaration. Also the "mv" command is there mostly because I realized I'm generally checking files deep in repos and I won't need them cluttering up the works. I dump stuff into ~/temp all the time, pick your target of choice.</p>

<p>Mileage may vary, warranty not included.</p>
