---
title: "...that, yes, there is in fact a way to get rid of those drop shadows on screenshots in OS X"
date: 2017-01-03T10:05:24-0500
tags:
  - today-i-learned
  - mac
---

<p><a href="https://www.electrictoolbox.com/disable-screenshot-shadow-mac-osx/">New year, new you, reduce the clutter, clean out the closets, etc etc etc</a>.</p>