---
title: "highlight.js"
date: 2016-08-31T20:12:59-0400
tags:
  - link-of-note
  - code
---

<p>Well, if this is going to be a blog-thing about stuff and some of that stuff is going to be code I probably ought to offer some sort of code formatting/highlighting, huh? So I've dropped highlight.js in. Default cdn version for now. I'll fancy it up someday. Maybe.</p>

<h2>Link:</h2>

<p><a href="https://highlightjs.org">highlight.js</a></p>

