---
title: "Element.animate overview"
date: 2016-08-08T10:10:07-0400
tags:
  - web-animation
  - javascript
---

<p>It gets a bit technical, but this makes for good reading that helps me understand a bit better what Element.animate() is all about and why it's kind of cool.</p>

<h2>Link:</h2>

<p><a href="https://people.mozilla.org/~bbirtles/demos/simple-example/simple-example.html">Animating like you just don’t care with Element.animate</a></p>

