---
title: "Physical Web links"
date: 2016-07-22T15:18:48-0400
tags:
  - technology
---

<p>I initially dismissed this because I was like, whatever, Internet of Things. But: this is not that.</p>

<h2>Link:</h2>

<p><a href="https://medium.com/@urish/exploring-the-physical-web-without-buying-beacons-efae51e36c2e#.hzyqms217">Physical Web (without beacons)</a></p>

