---
title: "Crocker Park: SVG Map"
date: 2016-12-23T10:49:53-0500
tags:
  - link-of-note
  - svg
  - responsive-design
---

<p>(Subtitle: no, <em>you</em> have last minute holiday shopping to do.)</p>

<p>I've played with SVG stuff a bit on and off during the year. I'm excited about the potential for using it for complex zoomy map-style content, but haven't been able to get quite <em>there</em> with it yet. This map gets closer to there, even if it's not fully there yet, for me. Going responsive on this sort of thing is an interesting challenge, to say the least.</p>

<h2>Link:</h2>

<p><a href="http://www.crockerpark.com/map/">Crocker Park Map</a></p>

