---
title: "Voter Percent Visualization"
date: 2016-08-01T12:42:33-0400
tags:
  - link-of-note
  - data-visualization
  - inspiration
---

<p>Lovely bit of data visualization, this. Also: sobering.</p>

<h2>Link:</h2>

<p><a href="http://www.nytimes.com/interactive/2016/08/01/us/elections/nine-percent-of-america-selected-trump-and-clinton.html?_r=0">Only 9% of America Chose Trump and Clinton as the Nominees</a></p>

