---
title: "100 days of code"
date: 2016-08-07T11:53:46-0400
tags:
  - link-of-note
  - coding
  - practice
---

<p>I've done the hundred days thing—not for coding but for working in my sketchbook—and it's an interesting exercise in habit building, at least for a while. The parallels to this article are interesting; the number of worthless pages I filled was significant, and I wished I'd tried doing something with more focus and flow behind it. Breaks are important but that can lead to easy excuses. But I guess more than anything it's about routine and practice and interest, so. </p>

<h2>Link:</h2>

<p><a href="https://medium.com/@richlitt/100-days-of-code-5e9a4dc6d56b#.ldohdcafn">100 Days of Code</a></p>

