---
title: "Small modules, big impact"
date: 2016-08-15T12:08:28-0400
tags:
  - link-of-note
  - javascript
---

<p>This is fascinating. I've only started dipping my toe into playing with modules, mainly as a way of making my own code more understandable and maintainable, so I suspect I'm nowhere near the thousands-of-requires use cases alluded to in this post. But! It does give me pause to stop and reflect a bit more deeply about what I'm doing; like, there might not be problems today, but as I tackle more ambitious ideas, there might be problems down the line. </p>

<h2>Link:</h2>

<p><a href="https://nolanlawson.com/2016/08/15/the-cost-of-small-modules/">The cost of small modules</a></p>

