---
title: "Pitchfork cover story: Janelle Monae"
date: 2016-05-13T11:19:50-0400
tags:
  - link-of-note
  - inspiration
---

<p>I remain perpetually in love with the slats effect on the pullquote reveals.</p>

<h2>Link:</h2>

<p><a href="http://pitchfork.com/features/cover-story/reader/janelle-monae/">Cover Story: Janelle Monae</a></p>

