---
title: "Oh no, I have to actually learn Composer"
date: 2016-08-25T05:09:48-0400
tags:
  - link-of-note
  - drupal
---

<p>I was listening to <a href="https://www.drupaleasy.com/podcast/2016/08/drupaleasy-podcast-184-pma-marc-drummond-next-steps-drupal-theming">the DrupalEasy Podcast episode 184</a> this morning, with <a href="https://www.marcdrummond.com">Marc Drummond</a>, and the part about being required to build a Drupal 8 site with Composer made my stomach lurch a bit. I had no idea!</p>

<p>This site, as I may have mentioned, is my first real Drupal 8 site, and I've had a lot of fun with the fact that I've been able to do everything (I think) I've wanted to with nothing but a core install. (I think. Is Devel contrib? Am I using Devel? I can't remember.) Now I'm given pause as I start to think about contrib modules and what else I might want to be able to experiment with, because, frankly, Composer has always felt like...I don't know. Weird. I haven't enjoyed it much. It seems like I've always run into some problem with it any time I've tried using it to set up Drush; maybe it's just me, or maybe the documentation on this stuff just isn't production-ready yet.</p>

<p>Something. Headache. Ow.</p>

<h2>Link:</h2>

<p><a href="https://www.marcdrummond.com/posts/2016/08/18/composer-drupal-8">Will Composer be a barrier for sitebuilders to use Drupal 8? (Goodbye, tarballs…</a></p>

