---
title: "Suggested Terms module"
date: 2016-04-20T14:29:34-0400
tags:
  - link-of-note
  - drupal
  - modules
---

<p>...is one which I'd like to look into using on this site.</p>

<h2>Link:</h2>

<p><a href="https://www.drupal.org/project/suggestedterms">Suggested Terms module page</a></p>

