---
title: "Programming Language Rankings"
date: 2016-07-21T08:55:25-0400
tags:
  - code
---

<p>I didn't know this existed. It's interesting.</p>

<ul>
	<li>JavaScript really is goofy!</li>
	<li>Consider my uninformed beliefs about Java corrected.</li>
	<li>I kind of love the fact that Processing is smack dab in the middle of the chart.</li>
	<li>I'm also interested in the notes about Swift, which I've loosely considered looking at, at some point.</li>
</ul>

<p>It would be interesting to see some charts like this about what's happening in the JavaScript world; which build tools are actually in use, how much ES6 is actually happening, etc.</p>

<p>(<a href="https://twitter.com/ThePracticalDev/status/756107035628933120">Via.</a>)</p>

<h2>Link:</h2>

<p><a href="http://redmonk.com/sogrady/2016/07/20/language-rankings-6-16/">The RedMonk Programming Language Rankings: June 2016</a></p>

