---
title: "iTerm2"
date: 2017-01-12T08:38:15-0500
tags:
  - tools
---

<p>I guess this is more of a tool of note; in the last week, I've finally given in to curiosity about "alternate" terminal programs for OS X, and I'm taking iTerm 2 for a spin. And...I like it. I'm still trying to figure out exactly how it improves or can improve my life—I feel like I've barely skimmed the feature set yet. But I can say this: super-easy split-screen views? Minor game-changer.</p>

<h2>Link:</h2>

<p><a href="https://iterm2.com">iTerm 2</a></p>

