---
title: "...about cloc"
date: 2016-07-19T09:30:42-0400
tags:
  - cloc
  - code-review
---

<p>I'm not really sure what the best number of lines of code is for anything, or if there even is one, even if only in the abstract (more! less!), nor do I know the best ratio of comments to code (though I'm coming to suspect more comments is always better). I haven't much thought much about doing any real self-analysis in this realm—at least, not until just now, when I learned about <a href="https://github.com/AlDanial/cloc">cloc</a> (<a href="http://number-none.com/blow/blog/programming/2016/07/16/braid_code_cleanup_1.html">via</a>), which suddenly has me rethinking some of my methods of organization so I can get better numbers.</p>
