---
title: "...about FileBrowser for Sublime Text"
date: 2016-08-03T23:57:42-0400
tags:
  - sublime-text
---

<p><a href="https://github.com/aziz/SublimeFileBrowser">Consider my game changed</a>.</p>
