---
title: "...a bit about the Web Animation API"
date: 2016-02-16T20:41:45-0500
tags:
  - web-animation
---

<p>Thanks to <a href="http://shoptalkshow.com/episodes/203-with-rachel-nabors-and-dan-wilson/">Shop Talk Show episode 203</a>. I've been hearing about the API for a bit now; this episode helped put it in a pretty solid context. </p>
