---
title: "...that my own processes actually work"
date: 2016-02-20T20:15:37-0500
tags:
  - process
  - drupal
---

<p>Namely, the ability to test an update to this site on a virtual machine on my laptop before pushing it out via git to my live site. <em>Repeat after me, Darby: you should document this set-up...you should document this set-up...you should...dinner's here, gotta run.</em></p>
