---
title: "...about git tab completion"
date: 2016-11-28T10:44:00-0500
tags:
  - git
  - command-line
---

<p>Or, more specifically, <a href="https://momentum.spindance.com/2015/09/enable-git-tab-completion-bash-mac-os-x/">that the capability already existed on my machine, I just hadn't set myself up to use it yet</a>. Cue paragraph-long branch names in three...two...</p>
