---
title: "...about Text Pastry"
date: 2016-03-10T23:09:51-0500
tags:
  - sublime-text
---

<p>Well, not today-today, but I think today's the day I realized how many random times <a href="https://github.com/duydao/Text-Pastry">Text Pastry</a> has slipped into my Sublime Text workflow. It took a little bit of time to get the hang of it, and required burning another keyboard shortcut to memory, and I'm sure I'm barely even beginning to tap the power of it. </p>

<p><em>But.</em> All those random times I used to think, "Man, there has to be a better way to spit out a list of things into all these spots in this file," well, turns out, I was right.</p>
