---
title: "...a thing or two about installing PHP Code Sniffer for Sublime Text"
date: 2017-07-13T12:30:31-0400
tags:
  - php
  - sublime-text
  - drupal
---

<p>Mainly, if you're ever trying to <a href="http://benmatselby.github.io/sublime-phpcs/">install sublime-phpcs in SublimeText</a>, and get it up and running <a href="https://www.drupal.org/docs/develop/standards/coding-standards">using Drupal coding standards</a>, and you've gotten through actually <a href="https://www.drupal.org/node/1419988">getting those coding standards on your system</a>, you'll want <a href="https://www.drupal.org/node/2809335#comment-12097745">to take a look at this</a>.</p>

<p>Looking at that last link, it's probably best to use the global Composer phpcs and phpcbf files out of the gate, once you get the right versions installed, rather than just doing whatever I did originally.</p>

<p>On the upside, I guess I have composer installed, again, finally.</p>
