---
title: "Beyond the Seal"
date: 2016-04-20T14:18:50-0400
tags:
  - inspiration
---

<p>Interesting mix of media in a responsive format to relay a long-form report narrative.</p>

<h2>Link:</h2>

<p><a href="http://beyondtheseal.com">Beyond the Seal</a></p>

