---
title: "The Art of the Smear"
date: 2016-03-17T00:07:25-0400
tags:
  - inspiration
  - effects
---

<p>Cool callout text glitch effect on scroll. Not completely gratuitous: directly relates to the content of the story being told.</p>

<h2>Link:</h2>

<p><a href="http://www.bloomberg.com/features/2016-benjamin-wey/">http://www.bloomberg.com/features/2016-benjamin-wey/</a></p>

