---
title: "Function statements vs expressions"
date: 2016-08-23T16:02:18-0400
tags:
  - reading-code
  - javascript
---

<p>This goes a level past anything I'm doing or am capable of needing right now, I think. Or not. Maybe? I'm not sure. Suffice it to say that when I look into the future and I see "arrow functions" in it I just want to turn off my computer and go binge-watch me some some CW DC shows for a couple days instead. Not that people are wrong to want these kinds of things, I guess; if it works for them, great, I just kind of hope they don't decide to want it in anything I'm doing right now.</p>

<p><a href="https://medium.freecodecamp.com/constant-confusion-why-i-still-use-javascript-function-statements-984ece0b72fd#.oki2o8lf7">This article</a> helps reassure me that maybe there's good reasons for me to like some of the things that I like. Especially as I start up this silly little <a href="http://webblogstuffthing.foldednotedesign.com/node/46">reading code and code readability</a> project of mine.</p>

<h2>Link:</h2>

<p><a href="https://medium.freecodecamp.com/constant-confusion-why-i-still-use-javascript-function-statements-984ece0b72fd#.oki2o8lf7">Constant confusion: why I still use JavaScript function statements</a></p>

