---
title: "I think the web is the web standard"
date: 2017-12-23T09:37:53-0500
tags:
  - web
---

<p>Part of the reason I prefer Firefox here. (Well, also, I like it better.)</p>

<h2>Link:</h2>

<p><a href="http://www.chriskrycho.com/2017/chrome-is-not-the-standard.html">Chrome is Not the Standard</a></p>

