---
title: "The Art of the Smear"
date: 2016-03-17T00:07:25-0400
tags:
  - Link of Note
  - inspiration
  - effects
---

<p>Cool callout text glitch effect on scroll. Not completely gratuitous: directly relates to the content of the story being told.</p>