---
title: "Also, worth noting"
date: 2016-01-08T16:21:12-0500
tags:
  - drupal
---

<p>I didn't <em>really </em>think it was a big deal that so much contrib-stuff was being moved directly into Drupal core; I mean, starting from scratch, I never really minded the fact that there was a bunch of default modules I had to load up to get a site to, like, <em>go</em>. But that said, the fact that I've been able to set up this starter blog and/or maybe-someday-book-organized-content site without installing any extra contrib modules does kind of feel...cool. Like, hey, this sort of kind of works the way you might expect a web publishing platform <em>thing</em> to work fresh out of the box. So that's fun!</p>

<p>That said, I'm certainly curious to learn more when I find out exactly when I run into issues that domino off the edge of the table like "Oh I can't do that let me go grab a module oh wait there are none yet uhm huh." (Like, I think I remember hearing that Path Auto isn't available yet? That's probably kind of a bummer.)</p>
