---
title: "100 Years of National Park Service"
date: 2016-07-25T13:13:04-0400
tags:
  - Link of Note
  - design
  - inspiration
  - ui
---

<p>The scroll jack effect here is actually rather neatly done; it doesn't take over on scroll so much as casually line things up once you complete a scroll action. It's kind of a neat idea and feels user-friendly. (At least on desktop on my scroll-wheel mouse.)</p>

<h2>Link:</h2>

<p><a href="http://www.100yearsofnps.com">100 Years of National Park Service</a></p>

