---
title: "Voter Percent Visualization"
date: 2016-08-01T12:42:33-0400
tags:
  - Link of Note
  - data visualization
  - inspiration
---

<p>Lovely bit of data visualization, this. Also: sobering.</p>