---
title: "Ortiz Leon Architects"
date: 2016-07-22T11:12:52-0400
tags:
  - Link of Note
  - inspiration
  - design
---

<p>Love the uses of grids here.</p>

<h2>Link:</h2>

<p><a href="http://www.ortizleon.es">Ortiz Leon Architects</a></p>

