---
title: "So okay!"
date: 2016-01-01T17:07:56-0500
tags:
  - intro
---

<p>So, okay, I don't actually know what this is going to be! And I've decided that's okay. </p>

<p>Originally, this site was intended to be a place to write a book, mainly for myself, about web animation, because I'm interested in it, but unless I'm actually finding some way to force myself to actively engage with the subject, I'm not actually going to really <em>learn</em> it. But then that idea kind of expanded to include a blog, which would probably be where I'd hash out the ideas and examples and whatever that would go into the book portion of the site. Already: scope creep.</p>

<p>Meanwhile, in the back of my mind, I was thinking this site itself could make a great Drupal 8 test bed, a place to start playing around with Drupal 8, kicking the tires, seeing what it could do, with a specific emphasis on theming. Oh, wait, I know, I could work web animation techniques into the theme! Exciting!</p>

<p>And for various reasons (which I'll go into later) I'm on the verge of really needing to up my web-guy game across the board so I'm looking at all sorts of other stuff I'd like to do deeper dives into and/or finally get around to formalizing my learning around. See also: basically everything front-end and a lot of back-end related stuff as well. Hey! I know! That web animation blog/book idea, maybe I just make it a catch-all web blog/book thing! </p>

<p>The scope of work quickly grew out of proportion to what time I've had immediately available. And then there's the crippling doubt about saying anything about anything when you're certain everyone else already knows everything and who are you to add yet another voice to the mix, right? And then it was the holidays. And now it's the new year.</p>

<p>And so forth.</p>

<p>That said, while I don't do resolutions, I'd be remiss if I didn't notice or note that I'm spitting this loosely explanatory post out on January 1. I mean. I dunno. Make of that what you will. Maybe there will be more to come. Maybe.</p>
