---
title: "About"
date: 2016-01-09T12:57:15-0500
tags:
  - basic-page
---

<p>This is a web-stuff blog <em>thing</em> by <a href="https://twitter.com/darby3">@darby3</a>. It's a thing where I'm blogging about web stuff.</p>

<p><iframe allowfullscreen="" class="giphy-embed" frameborder="0" height="480" src="//giphy.com/embed/XeXzWgD6P4LG8?html5=true" width="480"></iframe></p>

<p><a href="http://giphy.com/gifs/colin-farrell-i-dont-know-XeXzWgD6P4LG8">via GIPHY</a></p>

<p> </p>

<p>Hit me up on Twitter or <a href="/contact">send some feedback through this form</a> with any questions or comments.</p>

<p>My design portfolio site is at <a href="http://twopointoh.foldednotedesign.com">Folded Note Design</a>.</p>

<p>The design of this site is not final.</p>