---
title: "Physical Web links"
date: 2016-07-22T15:18:48-0400
tags:
  - Link of Note
  - technology
---

<p>I initially dismissed this because I was like, whatever, Internet of Things. But: this is not that.</p>