---
title: "...about enscript"
date: 2016-05-04T09:34:17-0400
tags:
  - Today I Learned
  - enscript
  - printing code
---

<p>File under "finally properly googled": I knew there had to be a decent way to print source code with line numbers without, like, involving MS Word, or something. <a href="http://superuser.com/questions/362882/how-can-i-print-source-code-on-os-x-with-line-numbers">Enter enscript</a>.</p>