---
title: "Pitchfork cover story: Janelle Monae"
date: 2016-05-13T11:19:50-0400
tags:
  - Link of Note
  - inspiration
---

<p>I remain perpetually in love with the slats effect on the pullquote reveals.</p>