---
title: "Theming!"
date: 2016-08-06T23:35:53-0400
tags:
  - theming
  - drupal
---

<p>Hey! I've finally started theming the site!</p>

<ul>
	<li>No more green Bartik! Now...underbaked Classy!</li>
	<li>It's been a long time. It's fun.</li>
	<li>I love the Twig debug comments. At least, for now.</li>
	<li>I mean, I've only barely cracked the spine, so to speak, but: it feels good. Familiar enough but...friendlier?</li>
	<li>Except for the whole adding-libraries thing. That feels kind of weird. </li>
	<li>It's also disorienting, working with existing assets, after having done a handful of things from blank files on up. Hmm.</li>
	<li>I'm still fussy with fonts, which is cool.</li>
</ul>

<p>All in all: I think this is going to work. Eventually. </p>
