---
title: "Carmack on inlined code"
date: 2016-07-19T09:44:55-0400
tags:
  - Link of Note
  - code
---

<p>Bits of this are definitely over my head, and I feel like I'm only starting to dabble in things that this relates to...that said, it's interesting, thinking how this does relate to some of what I do. (<a href="https://twitter.com/ThePracticalDev/status/755388601026899968">Via</a>.)</p>

<h2>Link:</h2>

<p><a href="http://number-none.com/blow/blog/programming/2014/09/26/carmack-on-inlined-code.html">Carmack on inlined code</a></p>

