---
title: "...about deleting (Features-ed) fields in Drupal"
date: 2016-11-23T12:44:49-0500
tags:
  - Today I Learned
  - drupal
  - features
---

<p>I mean, I haven't actually <em>done</em> this yet, but <a href="http://www.hook42.com/blog/deleting-drupal-field-saved-features">this seems like it might be a handy reference down the line</a>.</p>