---
title: "...about bash functions"
date: 2016-07-29T10:58:51-0400
tags:
  - Today I Learned
  - command line
---

<p>So, like, not only can you make an alias in bash, you can make <a href="http://stackoverflow.com/a/7131683">functions that take parameters</a>, which is super handy for doing silly things that would otherwise require looking up rarely used commands/paths and/or remembering to repeat the same dang commands each time. Now, to remember the alias, each time I need to do this thing...</p>