---
title: "JavaScript and Functional Programming"
date: 2016-08-09T10:54:06-0400
tags:
  - Link of Note
  - javascript
---

<p>On the one hand I find thinking about this kind of thing interesting as a way of broadening my understanding of what code can do. On the other hand I think I live my life in the land of side effects so I really just want practical application examples of how this sort of thinking plays out in real-world scenarios. </p>

<h2>Link:</h2>

<p><a href="https://bethallchurch.github.io/JavaScript-and-Functional-Programming/">Beth Allchurch: JavaScript and Functional Programming</a></p>

