---
title: "Blogging at work"
date: 2016-08-15T12:11:30-0400
tags:
  - Blog page
  - blogging
---

<p>So! Not sure if I formally said so here, but: I joined the Office of Communication at Oberlin College &amp; Conservatory back in January as Web Designer/Developer on the Web Team. Yay! It's been awesome.</p>

<p>I've started contributing a bit to the Web Team blog, and you can see my first two posts here:</p>

<ul>
	<li><a href="https://oncampus.oberlin.edu/webteam/2016/07/hello-world">Hello World</a></li>
	<li><a href="https://oncampus.oberlin.edu/webteam/2016/08/why-mobile-first">Why Mobile First?</a></li>
</ul>

<p>It's been a long while since I've blogged with any regularity, and I've never really blogged about day job work, so I'm still kicking the rust off and sorting out my strategy for all this. I think it's something like: good, higher-level writing goes over there, everything else goes over here. So I'll give myself permission to fuss endlessly over posts over on that site, and then use the WSBT site to brain-dump offshoot thoughts and dive into technical examples and keep posting links of note and Today I Learned items and whatever other stuff I come up with. It's hard not to overedit though. But!</p>

<p>Something like that. I don't know! We'll see how it goes. It's fun though—I've already got two more posts lined up on the burners over there, which is cool. Of course after that god only knows, but, hey. </p>