---
title: "...about efficiently joining lines in Sublime Text"
date: 2016-02-16T09:36:44-0500
tags:
  - Today I Learned
  - sublime text
---

<p>You don't have to highlight or select all the lines you want to join in Sublime Text. You can get on to the line you want to start joining to, and when you hit Ctrl-J, it will automatically pull in the following line. Hit Ctrl-J repeatedly to keep connecting lines until you've got everything you need joined up, joined up. </p>