---
title: "Or, in other, better-ordered words"
date: 2016-01-08T15:32:46-0500
tags:
  - Blog page
  - intro
---

<p>...<a href="http://alistapart.com/column/write-what-you-know-now">this</a> is exactly the kind of thing I'm finding myself wrestling with right now. Suffice it to say I read that (several times over) and yes it reminds me that using this to publish half-baked thoughts in-the-moment is probably totally okay. I remember listening to the podcast episode referenced as well. I remember also feeling jazzed up by it, as well. Now to push through and start doing something with that feeling. </p>