---
title: "BackstopJS"
date: 2016-10-06T10:17:50-0400
tags:
  - Link of Note
  - css
  - testing
  - tools
---

<p>File under "Oh, man, I need to try this."</p>

<p><a href="https://css-tricks.com/automating-css-regression-testing/">There's a good explanation and demo at CSS Tricks</a>. </p>