---
title: "Theming update"
date: 2016-08-15T23:47:00-0400
tags:
  - blog-page
  - theming
  - drupal
---

<p>It's coming along. I'm basically designing in code as I go along, which is fun for experimenting but certainly not necessarily ideal for, like, being really effective at getting to done. Not that I think there's much of a "done" state on a site like this. Feels more like the closest I'll come to having an old car out in the garage I can endlessly tinker with.</p>

<p>What's kind of fun is that once I got past the initial "YAML? What the...?" phase, everything I've done since has felt pretty familiar from what I know of Drupal 7. That said, I've yet to dive into preprocess functions, which I think I'm doing to need to do soon to treat the content type labels on the node pages the way I'd actually like them to be treated, so that's going to be a fun next step. </p>

<p>What's also remarkable and disorienting is when I remind myself that everything I've done here has been with a stock Drupal install; I've yet to download any additional modules. Not that I've done all that much, but. Views in core! Who'd have thought!</p>