---
title: "Two things"
date: 2016-08-19T05:25:33-0400
tags:
  - blog-page
  - javascript
  - learning
  - drupal
---

<ul>
	<li>I've posted <a href="https://oncampus.oberlin.edu/webteam/2016/08/javascript-learning-resources">the follow-up post</a> to <a href="https://oncampus.oberlin.edu/webteam/2016/08/jqueryn">the original post</a> mentioned in <a href="http://webblogstuffthing.foldednotedesign.com/node/54">my previous post</a>. (Confused? Me too! Usually!)</li>
	<li>I just noticed that there's something completely funky about timezones and offsets and something on this site, so my posts are all looking like they were posted four hours after they actually were. No, I wasn't up at 4 am last night, writing about JavaScript frameworks. (Though does a midnight post make me any less of a nerd? I'm guessing not.) </li>
</ul>