---
title: "Hey! Let’s read jQuery — Part 1: Print that sucker out"
date: 2016-08-23T18:30:00-0400
tags:
  - blog-page
  - jquery
  - javascript
  - reading-code
---

<p>(<a href="http://webblogstuffthing.foldednotedesign.com/node/46">Check here for a capsule background of what this is about</a>.)</p>

<p>So I probably won't do this for every code thing I look at, but when it comes to jQuery, I really wanted to have a hard copy for reference. </p>

<p>Part of what I'm trying to do with this project is get a better sense of exactly how I want to approach looking at a codebase. I want to start off by looking at the big shape of the thing; what does this thing I'm looking at ultimately *do*? Within that shape I want to find an entry point; where does the code "start," where does magic actually first happen. From there, if I can find clear signs of structure or architecture, repeating patterns or visible seams, a path from one function to the next—any sense of how this big thing might actually be a collection of not-as-big things—I'd feel like I've got at least a hand on the face of the rock wall.</p>

<p>With jQuery, which is ultimately one big file full of JavaScript, it feels like that's something I can do best with paper and sticky flags and a pen that I can tap against a physical stack of pages when I'm feeling particularly flummoxed by completely nonsensical-seeming nested functions.</p>

<p>Also, I need an excuse to look away from my screen now and then. But sometimes still look at code. Because, I'm going so full nerd this year, it's silly.</p>

<p>So the thing to do would probably be to go grab an official downloadble release file, but, because I'm curious and easily distracted, I've grabbed a copy of the Git repo, and I've run the build on that, generating a version 3.1.1-pre file, which you can download below, if you feel like playing along at home. (I've no interest in "keeping up" with jQuery as it develops, so sticking with this snapshot view of the code for the duration of this project (all three posts' or three hundred posts' worth) will be just fine with me.)</p>

<p>Printing a 10,000 line code file, with line numbers, it turns out, isn't exactly the easiest thing in the world to do. Nor the cheapest, though the looks and comments I got at the print shop made every penny worth it. I'll shovel some of that detail off into a separate post, because I'll probably want it again myself some day, and just put links here to my final txt and PDF files. You're on your own finding a cheap deal on long prints (though do let me know your cheapest price-per-page options).</p>

<p>(Todo: add photo of printed stack of jQuery pages, once I get around to fixing image styling in the theme.)</p>

<h2>Blog images</h2>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image_formatter' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image-formatter.html.twig' -->
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->
<img src="/sites/default/files/2016-08/jQuery_print.jpg" width="3024" height="3024" alt="A stack of printed jQuery pages, bound together with a large binder clip, and multiple yellow sticky tabs jutting out around the edges." typeof="foaf:Image" />

<!-- END OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->



<!-- END OUTPUT from 'core/themes/classy/templates/field/image-formatter.html.twig' -->



<h2>Download:</h2>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'file_link' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/file-link.html.twig' -->

<span class="file file--mime-text-plain file--text"> <a href="http://ntih-2018.ddev.site/sites/default/files/2016-08/jquery.js.txt" type="text/plain; length=264742" title="jquery.js.txt">jQuery file</a></span>

<!-- END OUTPUT from 'core/themes/classy/templates/field/file-link.html.twig' -->

, 

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'file_link' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/file-link.html.twig' -->

<span class="file file--mime-text-plain file--text"> <a href="http://ntih-2018.ddev.site/sites/default/files/2016-08/jquery.ln_.txt" type="text/plain; length=323753" title="jquery.ln_.txt">jQuery file (with line numbers)</a></span>

<!-- END OUTPUT from 'core/themes/classy/templates/field/file-link.html.twig' -->

, 

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'file_link' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/file-link.html.twig' -->

<span class="file file--mime-application-pdf file--application-pdf"> <a href="http://ntih-2018.ddev.site/sites/default/files/2016-08/jquery.ln_.pdf" type="application/pdf; length=648253" title="jquery.ln_.pdf">jQuery file (with line numbers) (PDF format)</a></span>

<!-- END OUTPUT from 'core/themes/classy/templates/field/file-link.html.twig' -->

