---
title: "Hey! Let’s read some code! — Intro"
date: 2016-08-22T18:32:52-0400
tags:
  - coding
  - learning
---

<p>On <a href="https://oncampus.oberlin.edu/webteam/2016/08/jqueryn">my post on the Oberlin Webteam blog about jQuery</a>, I suggested that I might someday read jQuery. Someday's come sooner rather than later, as I've actually started this semi-ridiculous project. </p>

<p>I have a pretty simple goal here: get better at reading code. I'd like to read code more effectively so I can develop greater comprehension, to help broaden my knowledge and understanding of code and how complex programs are assembled. This seems like a good way to practice that.</p>

<p>Practically speaking I also recognize I'm a hands-on learner, that to really understand something I need to do something with it. It's why I think I've tended to jumping in and getting my hands dirty over reading the manual first. So to help force myself to process the code I'm reading I'm going to try documenting my process as I work my way through it. I know this will help me; I'm hoping that by blogging about it, maybe someone else will benefit from it, as well.</p>

<p>All that said, looking at jQuery, looking at some of the other projects and concepts I'm thinking about exploring this way, I recognize these things can be…big. And from this angle, I imagine this might feel a bit like learning to read written language. Going slow, not skimming everything, stopping to look up terms you don't recognize…so, no, I'm probably never going to actually read every single line of jQuery. But! At the least, if I take the approach of starting with big pictures and selectively drilling into details, I can see what I might learn along the way, and point myself and whoever else in the direction of additional detail that can be pursued as well.</p>
