---
title: "(Re)decentralize the web"
date: 2016-08-11T22:18:31-0400
tags:
  - Link of Note
  - web
  - decentralization
---

<p>I'm a fan of the decentralization of the web. Partially because the web is my job. Mainly because I think it's fundamentally better for the free exchange of ideas, the development of society, all that good stuff. It's also just more fun that way; when everything is a Medium post, can anything really be original? So it's heartening to read articles like this, to know that the trend toward centralization isn't necessarily...necessary.</p>