---
title: "Villa Yambol"
date: 2016-07-22T11:16:30-0400
tags:
  - Link of Note
  - design
  - inspiration
---

<p>Love the transitions between panels. Not crazy about how it breaks some scrolling keyboard interactions, but.</p>

<h2>Link:</h2>

<p><a href="http://villayambol.com/eng">Villa Yambol</a></p>

