---
title: "...a bit about EntityFieldQuery in Drupal"
date: 2017-03-24T13:54:23-0400
tags:
  - Today I Learned
  - drupal
---

<p><a href="https://www.phase2technology.com/blog/entityfieldquery-let-drupal-do-the-heavy-lifting-pt-1/">This intro to EntityFieldQuery</a> makes for a pretty clear-headed intro to, like, well, not having to set up a view for every single thing ever, or for doing things within views a little more easily at the code level.</p>