---
title: "...that, yes, you can set syntax-specific color schemes in Sublime Text"
date: 2017-02-01T12:33:53-0500
tags:
  - Today I Learned
  - sublime text
---

<p>Which, okay, nothing more to say about that, really, other than, yes, I should be playing with syntax-specific settings more, I guess; but I'll tangent off that to note that, yes, I've played with Visual Studio Code a bit, and while I've liked it, and while it probably would be immensely helpful as I'm working my way through this Node app of mine, I just haven't been able to make the switch yet, since, well, Sublime Text just feels like such a well-worn glove at this point, but one that, like, adjusts as my hand changes shape? Something. The simile breaks down fast, but, I don't know. I just can't quit you, Sublime.</p>