---
title: "Screw it, we&#039;re going grid"
date: 2017-03-21T23:39:20-0400
tags:
  - Blog page
  - css grid
---

<p>The site, minimalist almost to the point of non-existent design that it may be, is now CSS Grid based. At least for now. There's a little bit of fallback here and there just to make it not completely suck as grid gets better adoption.</p>

<p>CSS Grid is...well, it's real sexy. </p>

<p>I'm treating the design of this site like a scratchpad, almost, as I figure it out, so I'm sure I just broke things in horribly unpleasant ways, but that's fine. It's fine. Suffice it to say I'm currently in the can't-imagine-it-any-other-way camp. </p>

<p>So. More on this soon.</p>