---
title: "Experimenting with CSS Grid"
date: 2017-03-16T15:13:22-0400
tags:
  - Blog page
  - css
  - css grid
---

<p>I've finally started playing with <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout">CSS Grid</a>, and I like what I see, based on <a href="https://github.com/darby3/junkcode/tree/master/cssgrid">some real simplistic experimentation</a>. Like, I want this, real bad. Like my early efforts with flexbox, it feels rather intuitive, so much so that I start to get nervous, like I'm missing something. Which I'm sure I am, since I haven't tried to do anything particularly <em>real</em> with it yet. But, then, I did full site layouts with flexbox, early on enough that it's been a long time since I've had to think about float-based layouts, and so I guess I expect that grid really shouldn't be much less (if at all less) intuitive than any of that.</p>

<p>One area where it might feel a little <em>too</em> intuitive is in the idea of subgrids. Intuitively speaking I started throwing code around that expected sub-items would recognize the existence of the parent grid, which, no, that's not how the grid works. Turns out there is <a href="https://www.rachelandrew.co.uk/archives/2017/03/16/subgrid-moved-to-level-2-of-the-css-grid-specification/">a subgrid display property but it's not yet available</a>. Which, well, I want it, even though I don't know how exactly I'd use it yet. Perhaps this is an area where my mixed print/web background shines through; I've spent enough time in InDesign to have this gut-level sense that, if there's a grid, literally anything anywhere should be able to know about it, and should be able to line itself up to the grid, or not, depending on the need. I think when I have a good need for it I'll get where I need to go with some careful CSSing, but, oh, it would be nice to just grid all the things without having to <em>think</em> about gridding all the things.</p>

<p>I'm also sure I've misguided myself about some things, how this is supposed to be used; I kept running into half-baked moments in my head that lead to content overflowing boundaries in unexpected ways. But I think that will shake out once I use it for real instead of for made-up flights-of-fancy.</p>