---
title: "Ready for Drupal 8?"
date: 2017-01-10T13:29:40-0500
tags:
  - Link of Note
  - drupal
---

<p>A roundup of some useful tools for checking a Drupal site's readiness for Drupal 8. I mean, spoiler alert, your site is probably not ready for Drupal 8, but...still fun to check.</p>