---
title: "Functional (JavaScript) Programming resources"
date: 2017-01-04T11:52:00-0500
tags:
  - Link of Note
  - javascript
  - functional programming
---

<p>Seems like a healthy collection of things to look at if, <a href="http://webblogstuffthing.foldednotedesign.com/node/72">like me</a>, you're interested in looking at these sorts of things.</p>