---
title: "Don&#039;t fear Drupal 7"
date: 2017-10-19T09:29:01-0400
tags:
  - Link of Note
  - drupal
---

<p>Some interesting points in here. (I have a lot of...<em>feels</em>, about Drupal 8, and what's being lost in the transition from Drupal 7, based on my experience with the latter and my limited hands-on time with the former.)</p>

<h2>Link:</h2>

<p><a href="https://www.mydropwizard.com/blog/its-ok-build-new-sites-drupal-7">It&#039;s OK to build new sites on Drupal 7</a></p>

