---
title: "...how to start using Xdebug"
date: 2017-03-24T13:56:24-0400
tags:
  - Today I Learned
  - drupal
  - development
  - debugging
---

<p>I'm working on moving toward using debuggers better, or maybe "at all" is what I should be saying, especially as I extend my reach into what I can do within Drupal. Xdebug is the way to go here, of course, and <a href="https://docs.acquia.com/dev-desktop/sites/phpstorm">getting Xdebug set up in Acquia Dev Desktop is fairly easy</a>. (Though, that said, it wasn't easy, until, after lots of mild frustration, and getting it to work in a Drupal VM environment but <em>not</em> Dev Desktop, I finally checked for Dev Desktop update, and there was one, one which claimed it wouldn't have an impact on me, but, well, it did, because it made everything work as expected. So.)</p>

<p>Then there's the issue of using the debugger in the code editor of one's choice. I love Sublime Text but (at least out of the box) the Xdebug Client module is...not what I want. At least when compared to <a href="http://code.visualstudio.com">Visual Studio Code</a>, which is basically exactly what I want.</p>

<p>Oh, I really don't want to switch editors...but it's also so nice to have the tool in the box.</p>