---
title: "Canvas Experiments"
date: 2017-05-04T22:43:54-0400
tags:
  - blog-page
  - web-animation
  - generative-graphics
  - javascript
  - personal-projects
---

<p>I've been experimenting with the canvas element. <a href="https://darby3.github.io/canvas-experiments/">You can see the experiments here</a>. It's not exactly much to look at, right now, but it's hopefully a cumulative sort of thing, experiments building on experiments, until someday actual cool stuff comes out of it.</p>