---
title: "New site name! New url!"
date: 2017-10-16T11:27:48-0400
tags:
  - meta
---

<p>After too long of using a placeholder name and url for this site, I decided to just give in to the fact that, yes, naming things is hard, and, well, here we are. New site name! New fancy url! Same old in-the-works theme which is badly in need of actual TLC, though. But like! It's a real site now! Sort of! Which means maybe I'll actually start using it some more! That'd be cool, yeah.</p>

<p>Anyway, welcome, pardon the perpetual dust, and as always, <a href="https://twitter.com/darby3">shout at me if I got it right or wrong</a>. </p>
