---
title: "Yup, this is cool"
date: 2018-01-09T08:52:02-0500
tags:
  - Link of Note
  - inspiration
  - responsive design
---

<p>Love absolutely everything about this x-tremely responsive homepage.</p>

<h2>Link:</h2>

<p><a href="https://lynnandtonic.com/">Lynn Fisher portfolio site</a></p>

