---
title: "Drual 8 is the worst, Drupal 8 is so cool"
date: 2018-09-15T14:46:47-0400
tags:
  - blog-page
  - drupal
  - composer
  - meta
---

<p>Damn it, Drupal, I just can't quit you.</p>

<p>But oh lord did I try.</p>

<p>--</p>

<p>There's a point somewhere in the history of the Drupal 8 lifecycle where things changed dramatically. No longer could you (or were you supposed to) just slop files into place and commit 'em and push 'em, like one might do with a classic Drupal 7 site. To Drupal 8 there came a thing called Composer and Composer was the thing through which you were supposed to manage all your files and modules and other libraries and packages and things and things and <em>things</em>. And if you'd tried to jump on the Drupal 8 train early, doing things in a way that had made perfect sense in older paradigms, it's very likely that point was like a train jumping a ramp into open space across a chasm with maybe another side in sight; I tried to hang on, but, well, I did not.</p>

<p>So I quit Drupal 8 for a long time, thinking I'd move this site over to some other blogging platform. I tried playing with Hexo for a bit and it was cool but not exactly ideal from a I-use-multiple-computers standpoint, and I tried moving to WordPress, and then mostly life got in the way and I didn't try much of anything. I mean, nobody is exactly clamoring for me to keep this blog up, anyway.</p>

<p>Then <a href="https://dri.es/drupal-7-8-and-9">Drupal 7 (and 8!) got official end-of-life target dates</a> and it became important for me again to look toward the future and start trying to grapple with it. And now here we are! I've resurrected this site! On Drupal 8.6.1! With the old database intact! And a vague sense that this isn't a horrifically fragile experiment that's going to come crashing down violently the next time a security update gets announced!</p>

<p>A really really big part of this is the fact that it feels like there's some better sense of best practices today, understandable by a guy like me who just wants to set up a basic ol' blog site on Drupal. (Which is not what Drupal is really meant for these days, but, whatever.) I have so many thanks to give to some awesome Composer training content (namely <a href="https://grasmash.github.io/drupal-composer-training/">this training post</a> and <a href="https://events.drupal.org/nashville2018/sessions/how-build-drupal-site-composer-and-keep-all-your-hair">these session slides</a>) offered up by <a href="http://matthewgrasmick.com">Matthew Grasmick</a> and <a href="https://www.jeffgeerling.com">Jeff Geerling</a>. That material has made some of this stuff make sense in a way it's never made sense before (though I admit having to run through it a couple times to really get the hang of it).</p>

<p>It also doesn't hurt that I discovered <a href="https://github.com/drud/ddev">ddev</a>, which has made it really easy to get a local environment up and running. While I've been a big fan of Drupal VM in the past, I think it's ultimately geared toward being a bit <em>more</em> than I need, or at least, it exposes a lot more things that I get super finicky over and interested in but which ultimately distract me—guy who really ought to just be tooling around with Drupal—from doing what I should be doing—just tooling around with Drupal, really. I'm probably not the guy who should be giving a damn whether I'm using Docker or Vagrant or MagicBoxInBox.</p>

<p>In any event hopefully this site being back up and running will encourage me to get back to documenting things for myself more consistently, and won't crash and burn the moment I try to run my next Composer command. We'll see.</p>