---
title: "Browsers and privacy"
date: 2018-09-24T10:20:01-0400
tags:
  - Link of Note
  - internet
  - privacy
  - browsers
---

<p>I switched to Firefox a while ago, specifically because Google was creeping me out. This does little to convince me I made a bad choice.</p>

<h2>Link:</h2>

<p><a href="https://blog.cryptographyengineering.com/2018/09/23/why-im-leaving-chrome/">Why I&#039;m done with Chrome</a></p>

