---
title: "Browsers and privacy"
date: 2018-09-24T10:20:01-0400
tags:
  - Link of Note
  - internet
  - privacy
  - browsers
---

<p>I switched to Firefox a while ago, specifically because Google was creeping me out. This does little to convince me I made a bad choice.</p>