---
title: "I am making a ridiculously named personal website"
date: 2019-05-22T15:08:21-0400
tags:
  - Blog page
  - fun
  - personal projects
---

<p>It is called <a href="https://www.chickenwing-gingerbreadman.xyz/">Chickenwing Gingerbread Man</a>. It's fun.</p>