---
title: Naming Things is Hard
layout: home
---

<p class="tag">a blog in shambles</p>

<h2>All Content</h2>

<ul>
{{#each collections.post }}
    {{#with this.data }}
        {{!-- log this --}}
        <li><a href="{{ page.url }}">{{ title }}</a> ({{ myIshyDate page.date title}})</li>
    {{/with}}
{{/each}}
</ul>
