---
title: Index Layout!
layout: main
---

<p>a blog in shambles</p>

<h2>All Content</h2>

<ul>
{{#each collections.post }}
    {{#with this.data }}
        {{!-- log this --}}
        <li><a href="{{ page.url }}">{{ title }}</a> ({{ myIshyDate page.date title}})</li>
    {{/with}}
{{/each}}
</ul>
