---
title: Naming Things is Hard
layout: home
---

<div class="wrapper">
    <div class="home__main">
        <div class="recent-posts">
            <div class="recent-posts__full">
                <h2>Recent Posts</h2>

                {{#each collections.mostRecentBlogs }}
                    {{#with this }}
                    <div class="recent-content post">
                        <header>
                            <h3>
                                {{#if this.data.draft }}
                                <span>(DRAFT)</span>
                                {{/if}}
                                <a href="{{ data.page.url }}">{{ data.title }}</a>
                            </h3>
                            <p class="italicDate">{{ myIshyDate data.page.date }}</p>
                        </header>

                        {{{ this.templateContent }}}
                    </div>
                    {{/with}}
                {{/each}}
            </div>

{{!--             <div class="recent-posts__links">
                <h2 id="blog-posts">All Blog Posts</h2>
                <p><a href="/all">Index of all blog posts (and other content).</a></p>

            </div> --}}
        </div>

        <div class="index-of-posts">
            <h2>Sidebar Stuff</h2>

            <h3>Some Links</h3>
            <nav class="">
                <ul>
                    <li><a href="/about">About This Site</a></li>
                    <li><a href="/all">Index of All Content</a></li>
                    <li><a href="https://chickenwing-gingerbreadman.xyz/">More Links</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
